body {
    font-family: Arial, sans-serif;
}

.template-box {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
}

h2 {
    color: #333;
}

p {
    color: #666;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card {
    width: 25%; /* Adjust the width as needed */
    margin: 10px;
  }

  /* Additional styling for card appearance */
  .card {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }

  .card:hover {
    transform: scale(1.05);
  }