.center {
    margin: auto;
    width: 50%;
    border: 3px solid lightblue;
    padding: 10px;
    margin-top: 100px;
}

.container {
    position: relative;
    height: auto;
    /* Set the height of your container */
    border: 1px solid #ccc;

}

b1 {
    position: absolute;
    top: 10px;
    /* Adjust the top position as needed */
    right: 10px;
    /* Adjust the right position as needed */
    background-color: #a8db84;
    color: white;


}