.center {
    margin: auto;
    width: 50%;
    border: 3px solid lightblue;
    padding: 10px;
    margin-top: 100px;
}

.container {
    position: relative;
    height: auto;
    /* Set the height of your container */
    border: 1px solid #ccc;

}

b1 {
    position: absolute;
    top: 10px;
    /* Adjust the top position as needed */
    right: 10px;
    /* Adjust the right position as needed */
    background-color: #a8db84;
    color: white;


}
#form-id {
    background-color: #eaf2f8;
    border: 2px solid #3498db;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
}

#form-id h3 {
    color: #3498db;
}

#form-id input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}