<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Dynamic Form</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function() {
            {% if data.questions %}
                var count = 1;
                var h2Element = $("<h2>").text("{{ data.title}}");
                $('#form').append(h2Element);
                {% for key, question_data in data.questions.items %}
                    if ( "{{ question_data.0.type }}" == "input"){
                        
                        var h3Element = $("<h3>").text("{{ question_data.0.value }}");
                        $('#form').append(h3Element);

                        var inputElement = document.createElement('input');
                        inputElement.type = 'text';
                        inputElement.id = `answer-${count}`;
                        inputElement.placeholder = 'Enter Answer';

                        var divElement = $("<div>").append(h3Element, inputElement).attr("id", "div-" + count);
                        $("#form").append(divElement);
                        count =count +1;
                    }
                    else if ( "{{ question_data.0.type }}" == "select"){
                        
                        var h3Element = $("<h3>").text("{{ question_data.0.field }}");
                        $('#form').append(h3Element);

                        var selectElement = document.createElement('select');
                        selectElement.id = `select-${count}`;

                        // Add options to the select element
                        var option1 = document.createElement('option');
                        option1.value = "{{ question_data.0.value.0 }}";
                        option1.text = "{{ question_data.0.value.0 }}";
                        selectElement.add(option1);

                        var option2 = document.createElement('option');
                        option2.value = "{{ question_data.0.value.1 }}";
                        option2.text = "{{ question_data.0.value.1 }}";
                        selectElement.add(option2);

                        // Create a div element and append the h2 element, select element, and input element
                        var divElement = $("<div>").append(h3Element, selectElement).attr("id", "div-" + count);

                        // Append the div element to the form
                        $("#form").append(divElement);

                        // Increment the count
                        count = count + 1;

                    }
                {% endfor %}

                var buttonElement = $("<button>").text("Save").attr("id", "save");

                $("#form").append(buttonElement);


            {% else %}
                <p>No data found.</p>
            {% endif %}

            $("#save").click(function() {
                const answer = {};
                var final_data = {};
                // You can perform additional actions here
                element = document.getElementById('form');
               
                var allDivs = element.getElementsByTagName('div');

                var allDivs = Array.from(allDivs).map(function (allDivs) {
                    return allDivs.id;
                });

                var quesCount=1;
                for ( var i = 0; i < allDivs.length; i++ ) {
                    var parentElement = document.getElementById(allDivs[i]);
                   
                    var elementsInsideDiv = parentElement.querySelectorAll('*:not(option)');
                
                    var ids = [];
                    var questionSet = [];
                    var elementsArray = [...elementsInsideDiv];
                    for (var j = 0; j < elementsArray.length; j=j+2) {
                        var element = elementsArray[j];
                        var key  = element.innerHTML.toLowerCase().replace(/ /g, '_');
                        var value = elementsArray[j + 1].value;
            
                        answer[key] = value;
                    }
                    quesCount = quesCount+1;
                }
                final_data["app_id"] = 118;
                final_data["answer"] = answer;
                var dynamicPath = "{% url 'save_response' %}";
                fetch(dynamicPath, {
                    method: 'POST',
                    headers: {
                    'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(final_data),
                })
                .then(response => response.json())
                .then(data => {
                console.log('Data saved successfully:', data);
                })
                .catch(error => {
                console.error('Error saving data:', error);
                });
            });
        
        });
    </script>
</head>
<body>
    <div id="form">  
    </div>
</body>
</html>
