{% extends "base.html" %}
{% load static %}

{% block css_link %}
<link rel="stylesheet" href="{% static "css/formtemplates.css" %}">
{% endblock css_link %}


{% block content %}
<h1>Your Template Preview</h1>
<div class="cards-container">
{% for template in data %}
    <div class="card mb-3 template-box clickable" id="template-{{ forloop.counter }}" form-id="{{ template.form_id }}">
        <div class="card-body">
            <h5 class="card-title">{{ template.title }}</h5>
            <!-- You can add more content or styling as needed -->
        </div>
    </div>
{% endfor %}
</div>
{% endblock content %}

    

{% block js_link %}
<script src="{% static "js/formtemplates.js" %}"></script>
{% endblock js_link %}