
<!-- template_preview.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template Preview</title>
    <link rel="stylesheet" href="{% static "css/index" %}">
</head>
<body>

<h1>Your Template Preview</h1>

{% for template in data %}
    <div class="template-box" id="template-{{ forloop.counter }}" form-id=`{{ template.form_id }}`>
        <h3>{{ template.title }}</h3>
    </div>
{% endfor %}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
    $(document).ready(function() {
        $('.template-box').click(function() {
            // Get the ID of the clicked div
            var id = $(this).attr('form-id');
            id = id.replace(/^`|`$/g, '');
            
            var url = "{% url 'your_redirect_view' form_id="PLACEHOLDER" %}".replace('PLACEHOLDER', id);
           
            window.location.href = url;
        });
    });
</script>
</body>
</html>

