{% extends "base.html" %}
{% load static %}

{% block css_link %}
<link rel="stylesheet" href="{% static "css/formtemplates.css" %}">
{% endblock css_link %}


{% block content %}
<h1>Your Template Preview</h1>

{% for template in data %}
    <div class="template-box" id="template-{{ forloop.counter }}" form-id=`{{ template.form_id }}`>
        <h3>{{ template.title }}</h3>
    </div>
{% endfor %}
{% endblock content %}

    

{% block js_link %}
<script src="{% static "js/formtemplates.js" %}"></script>
{% endblock js_link %}
