{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Django App</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="{% static "css/index.css" %}">

</head>
<body>
    <div class="center">
        <h1>Basic Dynamic Form Demo</h1>
        
            <form id="form_create">
                <label>
                    <input type="checkbox" name="options[]" tag_label="input" value="option1">
                    Text Field
                </label>
            
                <label>
                    <input type="checkbox" name="options[]" tag_label="select" value="option2">
                    Dropdown
                </label>
            
                <label>
                    <input type="checkbox" name="options[]" tag_label="description" value="option3">
                    Text Area
                </label>

                <label>
                    <input type="checkbox" name="options[]" tag_label="button" value="option4">
                    Button
                </label>
                
            </form>
            <div class="container">
                <button id="add_field" class="b1" type="button">Add</button>
                <a id="templates" class="template" href="{% url 'form_template' %}">
                    <button type="button">All Templates</button>
                </a>
            <div>
            <button type="button" id="submitBtn">Create Form</button>
            <div id="dynamic_form">
            </div>
            <button type="button" id="addSubField" style="display: none;">+</button>
            <button type="button" id="select-values" style="display: none;">Add Select Values</button>

    </div>

<script src="{% static "js/index.js" %}"></script>

</body>
</html>
