{% extends "base.html" %}

{% load static %}
{% block css_link %}
<link rel="stylesheet" href="{% static "css/index.css" %}">
{% endblock css_link %}

{% block content %}
    <div class="container">
        <h1 class="text-center">Basic Dynamic Form Demo</h1>
        
        <form id="form_create">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="options[]" tag_label="input" value="option1">
                <label class="form-check-label">Text Field</label>
            </div>
            
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="options[]" tag_label="select" value="option2">
                <label class="form-check-label">Dropdown</label>
            </div>
            
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="options[]" tag_label="description" value="option3">
                <label class="form-check-label">Text Area</label>
            </div>

        </form>

        <button id="add_field" class="btn btn-primary" type="button">Add</button>
        <a id="templates" class="template" href="{% url 'form_template' %}">
            <button class="btn btn-secondary" type="button">All Templates</button>
        </a>

        <button type="button" class="btn btn-success" id="submitBtn">Create Form</button>
        <div id="dynamic_form"></div>
        {% comment %} <button type="button" class="btn btn-info" id="addSubField" style="display: none;">+</button> {% endcomment %}
        <button type="button" class="btn btn-warning" id="select-values" style="display: none;">Add Select Values</button>
    </div>
{% endblock content %}

{% block js_link %}
<script src="{% static "js/index.js" %}"></script>
{% endblock js_link %}